@import url('https://fonts.google.com/specimen/Oswald?preview.text=Login&preview.text_type=custom');





body {
    margin: 0;
    font-family: 'Ozwald' ,sans-serif;
}

#navbar {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(47, 46, 46);
    position: sticky;
    z-index: 5;
}

#nav-links-side {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.nav-login-side {
    width: 37.5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-button {
    width: 6vw;
    height: 4vh;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0;
    background-color: #1976d2;
    color: white;
    opacity: 1;
    cursor: pointer;
    font-family: 'Oswald';
}

.login-button-link{
 font-size: medium;
 color: white;
 
}

.signup-button-link{
font-size: medium;
color: black;
}

.login-button:hover {
    opacity: 0.8;
}

.signup-button:hover {
    opacity: 0.8;
}

.signup-button {
    width: 6vw;
    height: 4vh;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 0;
    cursor: pointer;
    background-color: white;
    font-family: 'Oswald';
}

.logo {
    height: 10vh;
}

.main-container {
    background-color: #e9e9e9;
    overflow-x: hidden;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 30, 30);
    font-family:'Oswald'
}

.hero-image {
    height: 85vh;
    width: 100%;
}

.search-bar {
    width: 35vw;
    height: 7vh;
    border-radius: 40px;
    border: 0;
}

.hero-card {
    position: absolute;
    width: 95%;
    top: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald';
}

.hero-card-text {
    color: white;
    /* text-shadow: 3px 3px black; */
    font-family:'Oswald';
    font-size: xxx-large;
    text-align: center;
    margin-bottom: 80px;
    
}

.button-in {
    height: 8vh;
    position: relative;
    font-family:'Oswald';
}

#searchbutton {
    height: 6vh;
    right: 0.3vw;
    top: 3.5px;
    border-radius: 40px;
    position: absolute;
}

.heartbtn {
    background-color: transparent;
    border: 0;
    font-size: xx-large;
}

.ad-button {
    width: 7vw;
    height: 5vh;
    border-radius: 40px;
    background-color: #1976d2;
    color: white;
    border: 0;
    opacity: 1;
    font-family:'Oswald'
}

.ad-button:hover {
    opacity: 0.8;
}


.ad {
    display: flex;
    
}
.ad2 {
    display: flex;
}
.ad3 {
    display: flex;
    background: linear-gradient(to left, #56ccf2, #2f80ed);
    align-items: center;
}

.ad-images-size{
    width:50vw;
     height:50vh

}

.contact-images-size{
    width: 30vw;
    height: 50vh;
    border-radius: 50%;

}


.ad-side-left {
    width: 50vw;
   
}
.ad-side-left3 {
    width: 50vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Oswald'
}

.ad-side-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-family:'Oswald'
}
.ad-side-right2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-family:'Oswald'
    
}

.agents-cont {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.agent-image {
    width: 300px;
    height: 45vh;
}

.home-page-container {
    background-color: rgb(236, 236, 243);
    overflow-x: hidden;
}

.agents {
    text-align: center;
}

a:link {
    text-decoration: none;
    width: 7vw;
    height: 5vh;
    font-size: large;
    text-align: center;
}

a:visited {
    text-decoration: none;
}


#Product-card {
    text-align: center;
    width: 370px;
    height: 470px;
    background-color: snow;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 1px 1px 1px 1px rgb(181, 180, 180);
}

.product-image-container {
   
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.product-image {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}


#out {
    background: rgb(230, 230, 230);
    background: linear-gradient(97deg, rgba(230, 230, 230, 1) 0%, rgba(235, 234, 234, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 25px;
    justify-content: center;
    margin-top: 6vh;
    margin-bottom: 10vh;
}

#notfound {
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    color: #2281e0;
}

.nav-link {
    position: relative;
}

.nav-link:before,
.nav-link:after {
    content: "";
    position: absolute;
    opacity: 0;
    width: 0;
    height: 2px;
    background-color: #1976d2;
    transition: all 0.3s ease;
}

.nav-link::before {
    top: 0;
    left: 0;
}

.nav-link::after {
    bottom: 0;
    right: 0;
}

.nav-link:hover:before,
.nav-link:hover:after {
    opacity: 1;
    width: 100%;
}

.big-product-image {
    width: 100%;
}

.main-image-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.house-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 4px 4px rgb(218, 214, 214);
    margin-top: 3vh;
}

.house-info {
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 170px;
    text-align: center;
}

.google-maps{
    margin-top: 37px;
    margin-left: 13px;
    margin-right: 13px;
}

#main-product-page {
    background-color: #e9e9e9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 7vw;
    margin-bottom: 4vh;
}

.contact-side {
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
    background-color: white;
    margin-top: 3vh;
    border-radius: 7px;
    align-items: center;
    width: 400px;
    box-shadow: 1px 1px 3px 3px rgb(212, 208, 208);
    text-align: center;
}

.cotact-middle {
    width: 60%;
}

.cotact-big {
    width: 70%;
}

.rooms {
    display: flex;
    column-gap: 2vw;
    justify-content: center;
}


.nav-bar-text {
    color: white;
}

.social-media-images {
    border-radius: 50%;
}

.social-media {
    width: 150px;
    justify-content: space-evenly;
    display: flex;
}

.social-media-images:hover {
    transform: translateY(-5px);
}
#favoritepage{
    height: 100%;
  display: flex;
  row-gap: 15px;
  column-gap: 15px;
  justify-content: center;
  margin-top: 45px;
  flex-wrap: wrap;
  margin-bottom: 45px;
}
.empty-favorite-page {
    height: 88vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.agent-card-iamge {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 1vh;
    margin-bottom: 50px;
}

.agents-card {
    height: 580px;
    width: 440px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 3px 3px rgb(204, 198, 198);
    margin-bottom: 3vh;
}

.agentcards-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.agent-page{
    background: -webkit-linear-gradient(to right, #304352, #d7d2cc);
}

.agents-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.agent-social-media {
    width: 2vw;
    height: 3vh;
}

.agent-social-media-circle {
    width: 2vw;
    height: 3vh;
    border-radius: 50%;
    background-color: white;
}

.agents-social-container {
    display: flex;
}


.font{}

.flex-divs{
    display: flex;
    justify-content: center;
}

.send-button{
    width: 7vh;
    height: 4.3vh;
    background-color: white;
    border: 0;
}
.send-button:hover{
    opacity: 0.8;
}

.email{
    width: 18vw;
    height: 4.1vh;
    border: 0;
    outline-width: 0;
}


.view-more{
    width: 15vw;
    height: 8vh;
    border-radius: 4px;
    border: 0;
    background-color: #1976d2;
    color: white;
}
#view-more-link{
    width: 15vw;
    height: 8vh;
}



.view-more:hover{
    opacity: 0.8;
}

.sort-filter-area{
    display: flex;
    justify-content: space-around;
    background-color: white;
    flex-wrap: wrap;
}

.sort-area{
    border-top: white;
    border-bottom: white;
    display: flex;
    align-items: center;
    border-style: solid ;
    border-width: thin;
}

.filter-area{
    border-top: white;
    border-bottom: white;
    display: flex;
    align-items: center;
    border-style: solid ;
    border-width: thin;
}

.filter-buttons{
    height:51px;
     border:0; 
     background-color: ghostwhite;
}
.filter-buttons:hover{
    background-color: rgb(190, 187, 187);
   opacity: 0.8;
}

#sort{
    height: 52px;
    width: 150px;
    border: 0;
}

.filter-option{
    width: 100px;
    border: 0;
}

.buy-button {
    width: 100px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #3d8168;
    color: white;
    border: none;
}

.buy-button:hover {
    cursor: pointer;
    opacity: 0.9;
    color: white;
}

.products-buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.userpage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}

.user-buttons{
    width: 280px;
    height: 40px;
    background-color: #338feb;
    border: 0;
    color: white;
}

.with{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
}

.with-button{
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 0;
    box-shadow: 1px 1px 3px 3px gainsboro;
}

.with-button:hover{
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 0;
    box-shadow: 1px 1px 3px 3px rgb(212, 208, 208);
}
.Login-page{
    height: 520px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.sign-page{
    height: 580px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.user-inputs{
    width: 280px;
}


/* about us page */

.aboutus-image{
    width: 100vw;
    height: 440px;
    margin-bottom: 10vh;
}


@media screen and (max-width: 1025px) {
 a:link{
    font-size:large;
 }
 .logo{
    width: 90px;
 }

 .signup-button{
    width: 70px;

   
 }
 .login-button{
    width: 70px;
 }

 .hero-card{
    left: 2%;
    text-align: center;
 }
 .search-bar{
    width: 39vw;
 }
 .ad{
   flex-direction: column;
 }
 .ad3{
   flex-direction: column;
   text-align: center;
 }
 .ad2{
   flex-direction: column-reverse;
 }
 .ad-side-right{
    width: 100vw;
    height: 35vh;
    text-align: center;
 }
 .ad-images-size{
    width: 100vw;
 }
 .contact-images-size{
    width: 70vw;
    height: 35vh;
 }
 .ad-button{
    width: 14vw;
 }
 .view-more{
    width: 22vw;
    height: 6vh;
 }
 #view-more-link{
    width: 22vw;
    height: 6vh;
}

 .email{
    width: 28vw;
}

#Product-card{
  height: 460px;
}

.product-card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-button-link{
    width: 125px;
    height: 44px;
}

.signup-button-link{
    width: 125px;
    height: 44px;
}

}


@media screen and (max-width: 768px) {
    a:link{
        font-size:medium;
     }
     .logo{
        width: 90px;
     }
     .signup-button{
        width: 90px;
      
        font-size: x-small;
     }
     .login-button{
        width: 90px;
      
        font-size: x-small;
     }
     .hero-card{
        
        top: 26%;
     }
     .hero-card-text{
        font-size: xx-large;
     }
     .search-bar{
        width: 42vw;
     }
     .nav-links-div{
         font-size:x-small;
     }
     .ad-button{
        width: 17vw;
     }
     .view-more{
        width: 26vw;
        height: 5vh;
     }
     #view-more-link{
        width: 26vw;
        height: 5vh;
    }
    
     .email{
        width:37vw;
    }

    .hero-image{
        height: 60vh;
    }



    }


@media screen and (max-width: 586px) {
    #nav-links-side{
        width: 52vw;
    }
    .hero-card{
        left:5%;
     }

    a:link{
        font-size:x-small;
     }
     .logo{
        width: 90px;
     }
     .signup-button{
        width: 45px;
        font-size: xx-small;
     }
     .login-button{
        width: 45px;
        font-size: xx-small;
     }
     .hero-card-text{
        font-size: large;
     }
     .search-bar{
        width: 70vw;
     }
     .nav-links-div{
        font-size:x-small;
    }
    .ad-button{
        width: 22vw;
     }
     .view-more{
        width: 30vw;
        height: 5vh;
     }
     #view-more-link{
        width: 30vw;
        height: 5vh;
    }
    
     .header{
        font-size: x-large;
       }
       .mini-header{
       font-size: large;
       }
       .email{
        width:46vw;
    }


    }


    @media screen and (max-width: 350px) {
        #nav-links-side{
            width: 52vw;
        }
    
        a:link{
            font-size:x-small;
         }
         .logo{
            width: 90px;
         }
         .signup-button{
            width: 35px;
            font-size: xx-small;
         }
         .login-button{
            width: 35px;
            font-size: xx-small;
         }
         .hero-card-text{
            font-size:medium
         }
         .search-bar{
            width: 75vw;
         }
         .ad-button{
            width:26vw;
         }
         .view-more{
            width: 34vw;
            height: 5vh;
         }
         #view-more-link{
            width: 34vw;
            height: 5vh;
        }
        
           
         .header{
            font-size: large;
           }

           .mini-header{
            font-size: medium;
            }
            .nav-links-div{
                font-size:xx-small;
            }
       
        }
